.integration-page {
    display: flex;
    min-height: 100vh;
    width: 85vw;
    padding-top: 100px;

    .nav-container {
        width: 20%;

        > button {
            border-radius: 10px;
            border: 1px solid black;
            height: 50px;
            width: 100%;
            background-color: #dedede;
            

            &:not(:first-child) {
                margin-top: 10px;
            }

            &.active {
                background-color: white;
                font-weight: bold;
            }
        }
    }

    .main-content {
        width: 80%;
        height: 100%;
        padding: 30px;
        margin-left: 30px;
        border: 1px solid black;
        border-radius: 10px;

        display: flex;
        flex-direction: column;
        align-items: flex-start;

        > ul {
            margin-top: 20px;
            margin-bottom: 20px;
            list-style: decimal;
            text-align: left;
        }

        > .button-container {
            > button {
                margin-top: 30px;
                height: 50px;
                width: 250px;
                border-radius: 10px;
                border: 1px solid black;

                &:not(:first-of-type) {
                    margin-left: 20px;
                }

                &.save {
                    background-color: rgb(83, 229, 122);
                }

                &.test {
                    background-color: rgb(232, 225, 97);
                }
            }
        }
    }
}