.payment-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100%;

    .player-image {
        height: 50vh;
        aspect-ratio: 1;
        border: 5px solid black;
        border-radius: 10px;

        margin-bottom: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .input-container {
        display: flex;
        width: 300px;

        > div {
            width: 50%;
        }
    }

    .chain-select {
        width: 300px;
    }

    .tip-button {
        width: 300px;
    }
}