.overlay-page {
    display: flex;
    min-height: 100vh;
    width: 85vw;
    padding-top: 100px;
    padding-bottom: 100px;

    .upload-button {
        border-radius: 5px;
        height: 30px;
        background-color: white;
        border: 1px solid #dedede;
        color: #3e3e3e;
        transition: color 0.25s ease, border-color 0.25s ease;

        &:hover {
            color: #1777ff;
            border-color: #1777ff;
        }

        > span {
            margin-left: 10px;
        }
    }

    button.delete {
        width: 150px;
        height: 50px;
        cursor: pointer;
        display: flex;
        align-items: center;
        background: red;
        border: none;
        border-radius: 5px;
        box-shadow: 1px 1px 3px rgba(0,0,0,0.15);
        background: #e62222;
    }
    
    button.delete, button.delete span {
        transition: 200ms;
    }
    
    button.delete .text {
        transform: translateX(35px);
        color: white;
        font-weight: bold;
    }
    
    button.delete .icon {
        position: absolute;
        border-left: 1px solid #c41b1b;
        transform: translateX(110px);
        height: 40px;
        width: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    button.delete svg {
        width: 15px;
        fill: #eee;
    }
    
    button.delete:hover {
        background: #ff3636;
    }
    
    button.delete:hover .text {
        color: transparent;
    }
    
    button.delete:hover .icon {
        width: 150px;
        border-left: none;
        transform: translateX(0);
    }
    
    button.delete:focus {
        outline: none;
    }
    
    button.delete:active .icon svg {
        transform: scale(0.8);
    }

    .nav-container {
        width: 20%;

        > button {
            border-radius: 10px;
            border: 1px solid black;
            height: 50px;
            width: 100%;
            background-color: #dedede;
            

            &:not(:first-child) {
                margin-top: 10px;
            }

            &.active {
                background-color: white;
                font-weight: bold;
            }
        }
    }

    .main-content {
        width: 80%;
        height: 100%;
        padding: 30px;
        margin-left: 30px;
        border: 1px solid black;
        border-radius: 10px;

        display: flex;
        flex-direction: column;
        align-items: center;

        box-shadow: 2px 2px 5px 0 rgba(0,0,0,0.5);

        .video-frame {
            margin-top: 20px;
            width: 100%;
            height: 40vh;
            border-radius: 10px;
            position: relative;

            &.center {
                display: flex;
                align-items: center;
                justify-content: center;
            }

            .marquee-container {
                margin: 5px;
                width: calc(100% - 10px);
                border-radius: inherit;

                .marquee-text {
                    padding: 5px;
                    width: 100%;
                }
            }

            .notification-container,
            .leaderboard-container,
            .milestone-container,
            .voting-container {
                margin: auto;
                display: flex;
                flex-direction: column;
                border-radius: 10px;
                padding: 10px;

                > img {
                    width: 200px;
                }

                > span {
                    padding: 5px;
                }

                > ul {
                    list-style: decimal;
                    text-align: left;
                }
            }

            .milestone-container {
                > .progress-container {
                    height: 10px;
                    width: 300px;
                    border-radius: 5px;
                    border: 1px solid black;

                    > .progress {
                        width: 30%;
                        border-radius: inherit;
                        height: 100%;
                    }
                }
            }

            .voting-container {
                padding: 10px;
                border: 1px solid black;
                height: 30vh;
                justify-content: space-between;
                
                > div > div {
                    //options
                    font-size: 0.75em;
                }
            }

            .notification-container {
                img {
                    height: 25vh;
                }

                span {
                    max-width: 25vh;
                }
            }
        }

        > ul {
            margin-top: 20px;
            margin-bottom: 20px;
            list-style: decimal;
            text-align: left;
        }

        > .button-container {
            > button {
                margin-top: 30px;
                height: 50px;
                width: 250px;
                border-radius: 10px;
                border: 1px solid black;
                cursor: pointer;

                &:not(:first-of-type) {
                    margin-left: 20px;
                }

                &.save {
                    background-color: rgb(83, 229, 122);
                }

                &.test {
                    background-color: rgb(232, 225, 97);
                }
            }
        }

        .qr,
        #qr-code {
            height: 20vh;
            aspect-ratio: 1;
        }

        .choices-container {
            display: flex;
            flex-direction: row;
            justify-content: center;
            flex-wrap: wrap;
            max-width: 550px;
            margin-top: 10px;

            .vote-choice {
                display: flex;
                align-items: center;
                padding: 10px;
                border-radius: 10px;
                margin-right: 10px;

                > span {
                    margin-right: 10px;
                }
            }
        }
    }
}