$logoWidth: 50px;
$halfLogoWidth: $logoWidth / 2;

body {
    background: white;
    width: 100%;
}

.App {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    min-height: 100vh;
    max-width: 1260px;

    margin: auto;

    font-family: Roboto, -apple-system, BlinkMacSystemFont, 'Segoe UI', sans-serif;

    header {
        position: fixed;
        top: 0;
        padding-top: 10px;
        padding-bottom: 10px;
        justify-content: space-between;
        max-width: 1260px;
        background-color: white;
        z-index: 99;
    }

    footer {
        position: fixed;
        display: flex;
        align-items: center;
        justify-content: space-between;
        bottom: 0;
        width: 100%;
        max-width: 1260px;
    }

    &.loading {
        overflow: hidden;
        > .spinner-container {
            opacity: 1;
        }
    }

    .chain-chooser-container {
        width: 100%;
        max-width: 900px;
        min-height: 100vh;

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        h2 {
            font-size: 50px;
            color: black;
            margin-bottom: 30px;

            @media screen and (max-width: 900px) {
                margin-top: 40px;
                font-size: 40px;
            }
        }

        .navigate-button {
            background-color: white;

            text-transform: uppercase;
            letter-spacing: 3px;
            font-size: 50px;
            width: 350px;

            padding: 5px 20px;
            margin-top: 10px;
            margin-bottom: 10px;
            border: 5px solid black;
            border-radius: 10px;

            &:last-child {
                margin-bottom: 0;
            }

            &.active {
                border: 5px solid #00000033
            }
        }
    }

    > .spinner-container {
        background-color: black;
        opacity: 0;
        transition: opacity 0.75s;
    }

    > .loader {
        position: absolute;
        top: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: white;
    }

    .bg-container {
        position: fixed;
        inset: 0;
        height: 100%;
        width: 100vw;
        z-index: -1;

        > img.bg {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

        .mask {
            position: absolute;
            inset: 0;
            z-index: 0;
            background-color: rgba(0,0,0,0.35);
        }
    }

    .connector-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        position: relative;
    }

    .metamask-connector {
        display: flex;
        flex-direction: column;
        align-items: center;
        border: none;
        background-color: transparent;
        position: relative;

        -webkit-transition: -webkit-transform 0.1s;
        -moz-transition: -moz-transform 0.1s;
        transition: opacity 0.9s, transform 0.1s;
        opacity: 1;

        &.loading {
            opacity: 0;
        }

        &.logged-out {
            transform: translateX(calc(-620px + 75px)) translateY(calc(50vh - 25px));

            @media screen and (max-width: 1260px) {
              transform: translateX(calc(-50vw + 75px)) translateY(calc(50vh - 25px));
            }
        }
    }

    button:has(.button-parrot) {
        background: transparent;
        color: black;
        border: 3px solid black;
        border-radius: 50px;
        padding: 0.8rem 2rem;
        font: 18px "Margarine", sans-serif;
        outline: none;
        cursor: pointer;
        position: relative;
        transition: 0.2s ease-in-out;
        letter-spacing: 2px;


        .button-parrot .parrot {
          position: absolute;
          width: 60px;
          text-align: center;
          animation: blink 0.8s infinite;
          color: transparent;
        }
        
        .button-parrot .parrot:before {
          content: "Click Me!";
        }
        
        .button-parrot .parrot:nth-child(1) {
          top: -30px;
          left: -40px;
          font: 12px/1 "Margarine", sans-serif;
          transform: rotate(-20deg);
          animation-duration: 0.5s;
        }
        
        .button-parrot .parrot:nth-child(2) {
          font: 12px/1 "Margarine", sans-serif;
          right: -40px;
          top: -20px;
          transform: rotate(15deg);
          animation-duration: 0.3s;
        }
        
        .button-parrot .parrot:nth-child(3) {
          font: 16px/1 "Margarine", sans-serif;
          top: -60px;
          left: 15px;
          transform: rotate(10deg);
          animation-duration: 1s;
        }
        
        .button-parrot .parrot:nth-child(4) {
          font: 18px/1 "Margarine", sans-serif;
          top: -70px;
          left: 95px;
          transform: rotate(2deg);
          animation-duration: 0.7s;
        }
        
        .button-parrot .parrot:nth-child(5) {
          font: 14px/1 "Margarine", sans-serif;
          top: 80px;
          left: 105px;
          transform: rotate(-20deg);
          animation-duration: 0.8s;
        }
        
        .button-parrot .parrot:nth-child(6) {
          font: 12px/1 "Margarine", sans-serif;
          top: 80px;
          left: 5px;
          transform: rotate(10deg);
          animation-duration: 1.2s;
        }
        
        &:hover .parrot:before {
          content: "Do it!";
          width: 70px;
        }
        
        @keyframes blink {
          25%, 75% {
            color: transparent;
          }
        
          40%, 60% {
            color: black;
          }
        }
    }

    .metamask-btn {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: white;
        border: 2px solid black;
        height: 50px;
        border-radius: 5px;
        padding: 5px 10px;
        cursor: pointer;

        &.disabled {
            cursor: no-drop;
        }

        > img {
            height: 70%;
        }
    }

    .metamask-text {
        display: flex;
        justify-content: center;
        align-items: center;
        color: black;

        text-transform: uppercase;
        margin-left: 10px;

        font-size: 16px;
    }

    img.logo {
        width: $logoWidth;
        aspect-ratio: 1;
    }

    .logo-text {
        font-family: Roboto, 'sans-serif';
        color: black;
    }

    span.logo-text {
        font-size: 15px;
    }

    .switcher-container {
        position: absolute;
        bottom: 0;
        right: 0;

        animation: fadeIn 1s;

        > button {
            border: none;
            background-color: #a099a1;
            width: 100px;
            height: 32px;
            border-radius: 10px;

            margin-left: 15px;
            margin-bottom: 9px;
            cursor: pointer;

            &.active {
                background-color: #b9b0ba;
                color: white;
            }

            &:disabled {
                cursor: no-drop;
            }

            @media screen and (max-width: 900px) {
                height: 40px;
                width: 40px;
                border-radius: 20px;
                margin-right: 5px;
                margin-left: 0px;
                margin-bottom: 10px;
            }
        }
    }

    .link-toast {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;

        > a {
            color: white !important;
            text-decoration: none;
            text-transform: uppercase;
        }
    }

    .button-with-tooltip {
        a {
            color: inherit;
        }
        .wrapper {
            display: inline-flex;
            list-style: none;
            // height: 120px;
            width: 100%;
            // padding-top: 40px;
            font-family: "Poppins", sans-serif;
            justify-content: center;
          }
          
          .wrapper .icon {
            position: relative;
            background: #fff;
            border-radius: 50%;
            margin: 10px;
            width: 50px;
            height: 50px;
            font-size: 18px;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
            cursor: pointer;
            transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
          }
          
          .wrapper .tooltip {
            position: absolute;
            top: 0;
            font-size: 14px;
            background: #fff;
            color: #fff;
            padding: 5px 8px;
            border-radius: 5px;
            box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
            opacity: 0;
            pointer-events: none;
            transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
          }
          
          .wrapper .tooltip::before {
            position: absolute;
            content: "";
            height: 8px;
            width: 8px;
            background: #fff;
            bottom: -3px;
            left: 50%;
            transform: translate(-50%) rotate(45deg);
            transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
          }
          
          .wrapper .icon:hover .tooltip {
            top: -45px;
            opacity: 1;
            visibility: visible;
            pointer-events: auto;
          }
          
          .wrapper .icon:hover span,
          .wrapper .icon:hover .tooltip {
            text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.1);
          }
          
          .wrapper .facebook:hover,
          .wrapper .facebook:hover .tooltip,
          .wrapper .facebook:hover .tooltip::before {
            background: #1877F2;
            color: #fff;
          }
          
          .wrapper .twitter:hover,
          .wrapper .twitter:hover .tooltip,
          .wrapper .twitter:hover .tooltip::before {
            background: #1DA1F2;
            color: #fff;
          }
          
          .wrapper .github:hover,
          .wrapper .github:hover .tooltip,
          .wrapper .github:hover .tooltip::before {
            background: black;
            color: white;
          }
    }
}
